


$primary-font: 'Koulen', cursive;
$secondary-font: 'Libre Barcode 39 Text', cursive;
$third-font: 'Nunito', sans-serif;

$primary-color: #393939;
$secondary-color: #dae0de;
$third-color: #F4DF4EFF;
$other-color: #949398FF;
