@import "../styles/variables";

.generate_form {
  border: 1px solid $primary-color;
  //border-radius: 10px;
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: $third-font;
  color: white;
  //background-color: $thrid-color;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

  
  .title {
    padding-bottom: 1em;
    
    font-weight: bold;
    font-family: $primary-font;

    .phrase {
      font-size: 20px;
    }
    .logo {
      font-size: 40px;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    padding-bottom: 1em;

    span {
      padding-bottom: 0.4em;
      font-size: 18px;
    }

    i {
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }

  .generate_btn {
    background-color: $third-color;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: $primary-color;
    display: flex;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 20%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    //transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 3px;
  }

  .generate_btn:focus {
    outline: 0;
  }
  
  // .generate_btn:after {
  //   content: '';
  //   position: absolute;
  //   border: 1px solid #000000;
  //   bottom: 4px;
  //   left: 4px;
  //   width: calc(100% - 1px);
  //   height: calc(100% - 1px);
  // }
  
  // .generate_btn:hover:after {
  //   bottom: 2px;
  //   left: 2px;
  // }

  .generated_pass {
    margin-top: 2em;
    margin-bottom: 1em;
    border: 1px solid black;
    //border-radius: 7px;
    width: 40%;
    //padding-top: 1em;
    background-color: white;

    input {
      float: left;
      height: 3em;
      width: 16em;
      background: none;
      border: none;
      font-weight: bold;
      text-align: center;
      padding-left: 2em;
      font-size: 16px;
    }

    .fa-copy {
      float: right;
      padding-top: 0.7em;
      padding-right: 0.5em;
      font-size: 20px;
      cursor: pointer;
      color: #000000;
    }

    #show {
      padding-top: 0.7em;
      font-size: 20px;
      padding-left: 2.5em;
      cursor: pointer;
      color: #000000;
    }

    #hide {
      padding-top: 0.7em;
      font-size: 20px;
      padding-left: 2.5em;
      cursor: pointer;
      color: #000000;
    }

    
  }
}
input[type='checkbox'] {
  accent-color: $third-color;
}

#tooltip-right  > .tooltip-inner {
  //background-color: $third-color  !important;
  border: 1px solid $third-color;
}

