@import "~bootstrap/scss/bootstrap";
@import "../styles/variables";


.landing-page {

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/lock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: inherit;
  background-position: center left 6.1em;
  min-height: 100vh;
  background-color: #1c1c1c;
  
  .generate-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    
  }

  .login_register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    margin-left: 30em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: $third-font;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    color: white;
    border: 1px solid $primary-color;
    border-radius: 4px;
    
    span {
      font-weight: bold;
      padding-bottom: 1em;
      font-size: 18px;
    }
  }

}

.btns {
  display: inline-block;
}

.login {
  background-color: $other-color;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: white;
  font-weight: 700;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 7em;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  //transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 3px !important;
}

.login:focus {
  outline: 0;
}


.login:hover {
  background-color: $other-color;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: $other-color !important;
  border-radius: 0px;
}
