@import "../styles/variables";

.navbar {
  background: linear-gradient(to right, black 50%, #dae0de 50%);
  background: linear-gradient(
    to right,
    $primary-color,
    $primary-color 103rem,
    transparent 1rem,
    transparent 100%
  ), url('../../public/images/lock.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-clip: inherit;
  background-position: center right 90em;
  background-color: $secondary-color;
  height: 7em;
  display: flex;
  justify-content: space-between;

  // .side {
  //   background-image: url('../../public/images/lock.jpg');
  // }

  // #cover {
  //   //margin-left: 13em;
  //   // max-width: 100vh;
  //   // height: 7em;
  //   // position: absolute;
  //   // left: 0;
  //   // top: 0;
  //   //object-fit: cover;
  //   background-image: url('../../public/images/lock.jpg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
    
  // }
  
  .logo {
    padding-left: 1.6em;
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: $primary-font;
    top: -0.2em;
    padding-top: 0.5em;
  }

  .user_info {
    padding-right: 2em;
    font-family: $third-font;

    #welcome {
      font-size: 18px;
    }

    span button {
      background-color: $third-color;
      color: white;
      font-size: 18px;
      font-weight: bold;
      width: 5em;
      height: 2em;
      border: white;
    }
  }

}