@import "../styles/variables";

.container {
  margin-bottom: -1em;

  .one_card {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 25em;
    margin-top: 1em;
    flex-wrap: wrap;
    font-family: $third-font;
    border-radius: 5px;

    .fa-trash {
      margin-left: 22em;
      padding-top: 0.5em;
      cursor: pointer;
      color: rgb(247, 121, 121);
    }

    #show {
      cursor: pointer;
      padding-left: 0.5em;
      padding-right: 0.2em;
    }

    #hide {
      cursor: pointer;
      padding-left: 0.5em;
      padding-right: 0.2em;
    }

    .fa-copy {
      cursor: pointer;
    }

    .date {
      font-size: 12px;
    }

    .title {
      color: $other-color;
      font-weight: bold;
      font-size: 30px;
      font-family: $primary-font;
      padding-bottom: 0.5em;
    }

    .email {
      padding-left: 0.5em;
      margin-bottom: 0.5em;
      border: 1px solid $secondary-color;
      width: 18em;
      background: linear-gradient(
        to right,
        $third-color,
        $third-color 2.6rem,
        transparent 2rem,
        transparent 100%
      );

      .fa-envelope {
        padding-right: 0.3em;
      }

      input {
        overflow-wrap:unset;
      }
    }

    .pass {
      padding-left: 0.5em;
      border: 1px solid $secondary-color;
      width: 18em;
      background: linear-gradient(
        to right,
        $third-color,
        $third-color 2.6rem,
        transparent 2rem,
        transparent 100%
      );

      .fa-lock {
        padding-right: 0.3em;
      }
    }
  }

}